<div class="banner">    
    <!-- 輪播圖片 -->
    <div class="tab">
        <img class="tabImg" src="https://fakeimg.pl/1200x400/ff0000%2C128/000%2C255//" height="400"/>
        <img class="tabImg" src="https://fakeimg.pl/1200x400/ffff00%2C128/000%2C255/" height="400"/>
        <img class="tabImg" src="https://fakeimg.pl/1200x400/ffffff%2C128/000%2C255/" height="400"/>
        <img class="tabImg" src="https://fakeimg.pl/1200x400/00ffff%2C128/000%2C255/" height="400"/>
    </div>
    <!-- 指示符 -->
    <div class="lunbo_btn">
        <span num="0" class="tabBtn hover"></span>
        <span num="1" class="tabBtn"></span>
        <span num="2" class="tabBtn"></span>
        <span num="3" class="tabBtn"></span>
    </div>    
    <!-- 左右切換按鈕 -->
    <div class="arrow prve">
        <span class="slider_left"></span>
    </div>
    <div class="arrow next">
        <span class="slider_right"></span>
    </div>    
</div>