<footer class="border-4 flex-none p-20 footer bg-base-200 text-base-content footer-center">
  <div class="grid grid-flow-col gap-4 bor ">
    <div>
      <ul>
        <li>
          <span class="">購買</span>
        </li>
        <li>
          <a class="link link-hover">所有商品分類</a>
        </li>
        <li>
          <a class="link link-hover">品牌旗艦館</a>
        </li>
        <li>
          <a class="link link-hover">品品學堂</a>
        </li>
        <li>
          <a class="link link-hover">找靈感</a>
        </li>
        <li>
          <a class="link link-hover">逛櫥窗</a>
        </li>
        <li>
          <a class="link link-hover">設計誌</a>
        </li>
        <li>
          <a class="link link-hover">Sugoii禮物卡</a>
        </li>
        <li>
          <a class="link link-hover">下載 ＡPP</a>
        </li>
        <li>
          <a class="link link-hover">客人問與答</a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <span class="">販售</span>
        </li>
        <li>
          <a class="link link-hover">我想在 Sugoii 上販售</a>
        </li>
        <li>
          <a class="link link-hover">設計館問與答</a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <span class="">幫助 / 政策</span>
        </li>
        <li>
          <a class="link link-hover">問與答</a>
        </li>
        <li>
          <a class="link link-hover">大宗採購</a>
        </li>
        <li>
          <a class="link link-hover">訊息公告</a>
        </li>
        <li>
          <a class="link link-hover">服務條款</a>
        </li>
        <li>
          <a class="link link-hover">退貨政策</a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <span class="">關於 Sugoii</span>
        </li>
        <li>
          <a class="link link-hover">關於我們</a>
        </li>
        <li>
          <a class="link link-hover">媒體報導</a>
        </li>
        <li>
          <a class="link link-hover">工作機會</a>
        </li>
        <li>
          <a class="link link-hover">全新 Sugoii</a>
        </li>
        <li>
          <a class="link link-hover">Sugoii for Business</a>
        </li>
        <li>
          <a class="link link-hover">iichi.com</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>
          <span class="">追蹤 Sugoii</span>
        </li>
        <li>
          <a class="link link-hover">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="link link-hover">
            <i class="fab fa-line"></i>
          </a>
        </li>
        <li>
          <a class="link link-hover">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a class="link link-hover">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="">
    <p>Copyright © 2021 - All right reserved by ACME Industries Ltd</p>
  </div>
</footer>