<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container prose prose-purple">

    <div class="">
      <input type="checkbox" id="select_all">
      <label for="select_all">選擇全部</label>
    </div>
    
    <div class="selected-item">
      <div>
        <div class="header">
          <a href="#">Frankness Jewelry</a>
        </div>
        <div class="body">
          <div>
            <img src="https://cdn01.pinkoi.com/product/rFFCU86K/0/120x120.jpg">
          </div>
          <div>
            <a href="#">手鍊 法式美鑽 Plus 鏈條 含伸縮鍊鋯石 純銀925S 盡快出貨</a>
            <div>
              <span>35折</span>
            </div>
            <div>
              <span>銀色 - 純銀</span>
            </div>
    
          </div>
        </div>
    
        <div class="qantity">
          <select name="" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div class="subtotal">NT$ 693</div>
        </div>
      </div>
    
      <div>
        <div>
          <span>選擇收件地與運送方式</span>
        </div>
    
    
    
        <div>
          <select name="" id="">
            <option value disabled>請選擇運送方式</option>
            <option value="TW">台灣</option>
            <option value="CN">中國大陸</option>
            <option value="HK">香港</option>
          </select>
        </div>
    
        <div>
          <select name="" id="">
            <option value disabled>請選擇收件國家 / 地區</option>
            <optgroup label="從 台灣 寄出"></optgroup>
            <option value="seven-eleven">7-11取貨 NT$60</option>
            <option value="CN">順豐速通 NT$1,000</option>
          </select>
          <ul>
            <li>通知出貨後約 1 - 2 天寄達 | 提供追蹤</li>
            <li>滿 NT$ 1,000 免運費</li>
          </ul>
    
        </div>
    
      </div>
    </div>
    
    <div class="order-list">
      <div class="calulate-page-header">訂單摘要</div>
      <div class="calulate-page-body">
        <div>
          <span class="summary-items-title">商品總計</span>
          <span class="summary-items-price">NT$ 600</span>
        </div>
    
        <div>
          <span class="delivery-fee-title">運費總計</span>
          <span class="delivery-fee-price">NT$ 1000</span>
        </div>
        <div>
          <p>
            首綁首刷國泰世華卡，滿 NT$1000 現折 NT$100 (限量)！僅限「常用信用卡」結帳
          </p>
        </div>
    
        <div>
          <p>
            實際運費金額以購物車結算或是到貨時收取的金額為準。
          </p>
        </div>
    
        <div>
          <a href="#">使用優惠券、P Coins 或禮物卡</a>
        </div>
      </div>
    
      <div>
        <span class="total-price-title">結帳總金額</span>
        <span class="total-price">NT$ 1,693</span>
      </div>
      <div>
        <a href="#">前往結帳</a>
      </div>
    
    </div>



  </div>
  
  

  

  




</body>
</html>