 <div class="text-center"><h1>恭喜您已成為賣家</h1></div>
  <%= @user.seller_name %>
  <button><%= link_to '點選連結回首頁', root_url%></button>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>