

    <div class="text-center"><h1>恭喜您已成為賣家</h1></div>
  <%= @user.seller_name %>
  <h1>驗證碼</h1>
  <h2><%= @valid_code%></h2>
  <button><%= link_to '點選連結填入驗證碼', verify_store_url %></button>

    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>