<div class="min-h-screen bg-blue-200  flex">
  <div class="flex-1 flex flex-col justify-center py-5 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
            alt="Workflow">
        <h1 class="mt-6 text-3xl font-extrabold text-gray-900">
            請輸入驗證碼
        </h1>
      </div>
      <div class="mt-8">
        <div class="mt-6">
          <%= form_for(current_user, url:seller_verify_store_path, method: "post", html: {class: 'space-y-6'}) do |f| %>
          <div>
            <%= f.label '驗證碼', class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.password_field :captcha, maxlength:8, class: 'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            </div>
          </div>
          <div>
            <%= f.submit '送出', class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-300 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover"
        src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80"
        alt="">
  </div>
</div>


