<h1>訂單列表</h1>
<div>
	<table>
		<thead>
			<tr>
				<th>訂單序號</th>
				<th>訂單總金額</th>
				<th>訂單明細</th>
				<th>訂單狀態</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.serial %></td>
				<td><%= order.total %></td>
				<td class='btn bg-green-400'><%= link_to '前往明細', order_path(order) %></td>
				<td><%= order.state %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>