@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'base_environment.scss';
@import 'pagy_decoration.scss';
@import 'pop_screen.scss';
@import 'coupon.scss';
@import 'payment.scss';
@import 'environment_fix.scss';
@import 'tailwindcss/utilities';
