
<% products.each do |product| %>
<div class="">
  <img src="https://picsum.photos/id/200/1000/800">
  <div>
    <h2 class="card-title flex "><%= link_to product.name,product_path(product) %></h2> 
    <p class=""><%= product.store.name %></p>
    <p class="">NT$<%= product.price.to_i %></p>
      <div class="justify-end card-actions ">
    </div>
  </div>
</div>
<% end %>