
<% products.each do |product| %>
  <div class="flex flex-wrap mx-auto justify-center">
    <div class="p-1">
      <a class="block">
        <img alt="ecommerce" class="object-cover object-center" src="https://picsum.photos/149/149?random=1">
      </a>
      <div class="mt-4 border-4 ">
        <h2 class="text-gray-900 text-sm font-medium border-4 break-all"><%= link_to product.name,product_path(product)%></h2>
        <h3 class="text-gray-600 text-xs tracking-widest title-font mb-1"><%= product.store.name %></h3>
        <span class="mt-1 text-gray-800 text-lg">NT$<%= product.price.to_i %></span>
      </div>
    </div>
  </div>
<% end %>





