<div class="grid grid-cols-6 lg:grid-clos-6 gap-3 ">
  <% products.each do |product| %>
    <div class="card bordered">
    <figure>
      <img src="https://picsum.photos/id/1005/400/250">
    </figure> 
    <div class="card-body">
      <h2 class="card-title">品名:<%= link_to product.name,product_path(product) %></h2> 
      <p>價錢:<%= product.price.to_i %></p>
      <p>商品描述:<%= product.description %></p>
      <div class="justify-end card-actions">
        <button class="btn btn-secondary">More info</button>
      </div>
   </div>
    </div> 
  <% end %>
</div>