<% products.each do |product| %>
<div class="group relative">
  <div class="w-full overflow-hidden group-hover:opacity-75 lg:h-50 xl:h-40">
    <%= image_tag "#{product.image_url}", class: 'object-over' %>
  </div>
  <%= link_to product_path(product) do %>
  <h3 class="mt-2 text-sm text-gray-700">
    <span class="absolute inset-0 "></span>
    <%= product.name %>
  </h3>
   <% end %>  
  <p class="mt-1 text-sm text-gray-500">Natural</p>
  <p class="mt-1 text-sm font-medium text-gray-900 mb-2">$<%= number_with_delimiter(product.price.to_i) %></p>
</div>
<% end %>
