<div class="border-4">
  <div class=" grid grid-cols-6 md: gap-8 border-4 bg-white m-40 p-8">
    <h1 class="border-4 col-span-6">編輯嚴選</h1>
    <% products.each do |product| %>
      <div class="border-4">
        <img class = "" src="https://picsum.photos/id/200/1000/800">
        <div class=" ">
          <h2 class="card-title flex border-4 ">品名:<%= link_to product.name,product_path(product) %></h2> 
          <p class="border-4 ">所屬商店：<%= product.store.name %></p>
          <p class="border-4">價錢：<%= product.price.to_i %></p>
            <div class="justify-end card-actions border-4 ">
              <button class="btn btn-secondary ">More info</button>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
